<manifest package="com.linsr.locationlib"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!--ACCESS_FINE_LOCATION：允许APP访问精确地理位置。-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--ACCESS_COARSE_LOCATION：允许APP访问大概地理位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application>

    </application>

</manifest>
