<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.linsr.login">

    <application>
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".password.FindPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".register.RegisterActivity"
            android:screenOrientation="portrait"/>
        <!--微信-->
        <activity
            android:name="com.linsr.templates.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>