<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.linsr.books">

    <application
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".BookActivity"/>
        <activity android:name=".Book2Activity"/>
    </application>

</manifest>