<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.linsr.main">

    <application>
        <!--Main-->
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"/>
        <!--闪屏-->
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--扫码-->
        <activity
            android:name=".activities.CaptureActivity"
            android:screenOrientation="portrait"/>
        <!--商详-->
        <activity
            android:name=".activities.ProductDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ChildCategoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.BalanceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.AddressActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.NewAddressActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.SearchResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.PayResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.OrderMainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.CommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.CommentResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AfterSalesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AfterSalesDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.FlashSaleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.DailyNewActivity"/>
    </application>

</manifest>