<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.linsr.main">

    <application>
        <!--Main-->
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"/>
        <!--闪屏-->
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--扫码-->
        <activity
            android:name=".activities.CaptureActivity"
            android:screenOrientation="portrait"/>
        <!--商详-->
        <activity
            android:name=".activities.ProductDetailsActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>