<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.linsr.common">

    <application>
        <meta-data
            android:name="com.linsr.common.utils.glide.GlideModelConfig"
            android:value="GlideModule"/>

        <activity android:name=".gui.activities.FragmentActivity"/>
    </application>


</manifest>
